<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet"  href="css/index.css">
    <title>Home</title>
</head>


<body>
   <main class="container">
 
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img data-image="black" src="images/black.png" alt="">
    <img data-image="blue" src="images/blue.png" alt="">
    <img data-image="red" class="active" src="images/img1.jpg" alt="">
  </div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>Order Summary</span>
      
      <h1>Jetstar XP-1</h1>

      <p>Order ID: <strong>Lorem657#4ipsumdolor34$sit467$$amet</strong></p>
      
      <p>
        Date: <strong><script> document.write(new Date().toLocaleDateString()); </script> </strong>
      </p>
    </div>
 
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span>148$</span>
      <a href="signup" class="cart-btn">Buy Now</a>
    </div>
  </div>
</main>


</body>
</html>